[submodule "thirdparty/asio"]
    path = thirdparty/asio
    url = https://github.com/chriskohlhoff/asio.git
[submodule "thirdparty/fastrtps"]
    path = thirdparty/fastrtps
    url = git@gitlab.sambaserver.eprosima.com:eProsima/fastrtps.git
[submodule "thirdparty/fastcdr"]
    path = thirdparty/fastcdr
    url = git@gitlab.sambaserver.eprosima.com:eProsima/fastcdr.git
