[submodule "thirdparty/asio"]
    path = thirdparty/asio
    url = https://github.com/chriskohlhoff/asio.git
[submodule "thirdparty/fastrtps"]
    path = thirdparty/fastrtps
    url = https://github.com/eProsima/Fast-RTPS.git
[submodule "thirdparty/fastcdr"]
    path = thirdparty/fastcdr
    url = https://github.com/eProsima/Fast-CDR.git
[submodule "thirdparty/uxrclient"]
	path = thirdparty/uxrclient
	url = https://github.com/eProsima/Micro-XRCE-DDS-Client.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/CLI11"]
	path = thirdparty/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "thirdparty/sanitizers-cmake"]
	path = thirdparty/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
